@model WebApplication1.Models.ClienteSql

@{
    ViewData["Title"] = "Eliminar Cliente";
}

<h1>Eliminar Cliente</h1>

<div>
    <h3>¿Está seguro de que desea eliminar el cliente?</h3>
    <div>
        <h4>@Model.Nombres @Model.Apellidos</h4>
        <dl class="row">
            <dt class="col-sm-2">Código:</dt>
            <dd class="col-sm-10">@Model.Codigo</dd>
            <dt class="col-sm-2">Cédula:</dt>
            <dd class="col-sm-10">@Model.Cedula</dd>
            <dt class="col-sm-2">Nombres:</dt>
            <dd class="col-sm-10">@Model.Nombres</dd>
            <dt class="col-sm-2">Apellidos:</dt>
            <dd class="col-sm-10">@Model.Apellidos</dd>
            <dt class="col-sm-2">Fecha de Nacimiento:</dt>
            <dd class="col-sm-10">@Model.FechaNacimiento.ToShortDateString()</dd>
            <dt class="col-sm-2">Correo Electrónico:</dt>
            <dd class="col-sm-10">@Model.Mail</dd>
            <dt class="col-sm-2">Teléfono:</dt>
            <dd class="col-sm-10">@Model.Telefono</dd>
            <dt class="col-sm-2">Estado:</dt>
            <dd class="col-sm-10">@Model.Estado</dd>
        </dl>
    </div>
    
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" name="Codigo" value="@Model.Codigo" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
